@{
    ViewData["Title"] = "Art Images - Upload Image";
}

<div class="upload-container">
    <h1>Качване на изображение за класификация</h1>

    <form method="post" enctype="multipart/form-data" asp-controller="ArtImages" asp-action="ClassifyImage">
        <div class="form-group">
            <label for="file" class="form-label">Изберете изображение:</label>
            <input type="file" id="file" name="file" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Зареждане на</button>
        </div>
    </form>
</div>