@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 bg-body-secondary text-center text-white">
    <h1 class="display-4">Kласификация на изображения</h1>
    <h3>Пример за демонстрация на класификация на изображения за дипломна работа - Александър Петров</h3>
    <p class="lead mb-1 mt-3">
        Изберете една от трите опции за разпознаване на снимки:
        <b>Спортове</b>, <b>Изображения</b>, <b>Коли</b>.
    </p>
    <hr class="my-4 border-white">
    <a asp-area="" asp-controller="SportImages" asp-action="SportImages"
       class="btn btn-lg" style="background-color: #ff8c00; color: white;">🏀 Sport Images</a>
    <span> | </span>
    <a asp-area="" asp-controller="ArtImages" asp-action="Index"
       class="btn btn-lg" style="background-color: #ff8c00; color: white;">🖼️ Art Images</a>
    <span> | </span>
    <a asp-area="" asp-controller="CarImages" asp-action="Index"
       class="btn btn-lg" style="background-color: #ff8c00; color: white;">🚗 Car Images</a>
</div>
