@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 bg-light text-center">
	<h1 class="display-4">Здвавейте</h1>
	<p class="lead mb-1 mt-3">
		Изберете една от трите опции за разпознаване на снимки:
		<b>Спортове</b>, <b>create</b>, <b>edit</b>.
	</p>
	<hr class="my-4">
	<a asp-area="" asp-controller="SportImages" asp-action="SportImages"
	   class="btn btn-warning btn-lg">Sport Images</a>
	<span> | </span>
	<a asp-area="" asp-controller="ArtImages" asp-action="Index"
	   class="btn btn-warning btn-lg">Art Images</a>
	<span> | </span>
	<a asp-area="" asp-controller="Home" asp-action="Test2Images"
	   class="btn btn-warning btn-lg">Test2Images</a>
</div>